/* CSS version 1.0 https: //github.com/stadium-software/multi-select-dropdown */
.check-box-list-container:has(.stadium-multi-select-checkboxlist) {
	border: 0.1rem solid var(--multi-select-container-border-color, var(--BUTTON-BORDER-COLOR));
	position: relative;
	background-color: var(--multi-select-background-color, var(--CHECK-BOX-LIST-CONTAINER-BACKGROUND-COLOR));

    &:after {
        top: 0;
        right: 0;
    }

    .stadium-multi-select-checkboxlist {
        display: none;
        position: absolute;
        z-index: 10;
        top: 3.3rem;
        left: -0.1rem;
        border: 0.1rem solid var(--multi-select-container-border-color, var(--BUTTON-BORDER-COLOR));
        > div {
            box-shadow: rgba(0, 0, 0, 0.07) 0 0.1rem 0.1rem, rgba(0, 0, 0, 0.07) 0 0.2rem 0.2rem, rgba(0, 0, 0, 0.07) 0 0.4rem 0.4rem, rgba(0, 0, 0, 0.07) 0 0.8rem 0.8rem, rgba(0, 0, 0, 0.07) 0 1.6rem 1.6rem;
            background-color: var(--multi-select-background-color, var(--CHECK-BOX-LIST-CONTAINER-BACKGROUND-COLOR));
        }
    }
    .stadium-multi-select-dropdown-header {
        display: block;
        cursor: pointer;
        user-select: none;
        padding: 0 2.6rem var(--multi-select-container-padding, 0.6rem) var(--multi-select-container-padding, 0.6rem);
    }
    .stadium-multi-select-dropdown-header:after {
        content: "\00BB";
        position: absolute;
        padding-left: 0.4rem;
        font-size: 2.2rem;
        height: 2rem;
        width: 2rem;
        transform: rotate(90deg);
        transform-origin: 67% 76%;
        transition: transform .1s;
    }
}
.check-box-list-container.expand:has(.stadium-multi-select-checkboxlist) {
    .stadium-multi-select-checkboxlist {
        display: block;
    }
    .multi-select-dropdown-header:after {
        transform: rotate(270deg) translate(0.8rem,-0.3rem);
    }
}
html {
    min-height: 100%;
    font-size: 62.5%;
}